@import "tailwindcss";

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("/fonts/NotoSansJP-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url("/fonts/NotoSansJP-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Sans JP";
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("/fonts/NotoSansJP-Black.ttf") format("truetype");
}

:root {
  color-scheme: light;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Sans",
    "Hiragino Kaku Gothic ProN",
    "Yu Gothic",
    sans-serif;
}
